<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" authCookieName=".SFAUTH-SitefinityWebApp" rolesCookieName=".SFROLES-SitefinityWebApp" validationKey="51E020F39247B2CCD3D24984AB3A61D0C9A3748059EF5275507C692A88B7C15D9022F52EF1D2F7CCAE088F20053039AC8236AF3237DE1E132E40EE89F0F76239" decryptionKey="28AEDD4B02FCB61D408FFE18DBAA05DC28A01617CD0505DFFAB01DD76E2CB6E2" loggingCookieName=".SFLOG-SitefinityWebApp">
	<securityTokenIssuers>
		<add key="09381F76E19E102D73813FFB61A91035E9C436594B514387BB96E97E3F03E66F" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="09381F76E19E102D73813FFB61A91035E9C436594B514387BB96E97E3F03E66F" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="1fbe6878-53aa-4582-be93-809be06e8873" name="Everyone" config:flags="1" />
		<role id="207ce4d2-fa4e-488c-b390-d0420de16886" name="Anonymous" config:flags="1" />
		<role id="4da3f1f6-9609-4646-bf6d-51cb19a7ff24" name="Authenticated" config:flags="1" />
		<role id="e0eab95f-286e-4fd5-ae62-a91062257c60" name="Owner" config:flags="1" />
		<role id="b5d4d471-f670-4f23-92d8-1a2f7df504c4" name="Administrators" config:flags="1" />
		<role id="356c872b-116a-4001-af74-d35d09f1ae51" name="BackendUsers" config:flags="1" />
		<role id="2ab07d18-d882-4a7b-8699-b890e215f9ae" name="Authors" config:flags="1" />
		<role id="f1e7152a-2308-4d7b-9c65-7148c4218048" name="Editors" config:flags="1" />
		<role id="2cbec332-560a-4515-9b01-8240de938fd4" name="Designers" config:flags="1" />
		<role id="db3ad598-cfd4-4bed-826c-68514c4e624b" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>