<!doctype html>
<html amp lang="en">
<head>
	<meta charset="utf-8">
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
	<title>@ViewBag.Title</title>
	@* TODO *@
	<link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	<style amp-custom>
		@@font-face {
			font-family: sl-Apres;
			font-style: normal;
			font-weight: 400;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/ApresRegular/c60bb3c2-10e5-4eee-a0d4-e0e221eca5c0-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-Apres;
			font-style: normal;
			font-weight: 700;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/ApresBold/8ecad02a-bb9e-4958-a048-ae1afebfe65b-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-Apres;
			font-style: italic;
			font-weight: 400;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/ApresItalic/3f4c4936-dd51-4e16-b5d3-5240eb23ca05-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-Apres;
			font-style: italic;
			font-weight: 700;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/ApresBoldItalic/f47fb403-e5b8-40b1-b9d8-8c37ac7bd1e9-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-Apres;
			font-style: normal;
			font-weight: 100;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/ApresLight/bea8223d-2207-41be-82ea-594fce97b44b-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-Apres;
			font-style: italic;
			font-weight: 100;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/ApresLightItalic/a6679327-fca5-4f63-bab7-139e3fc29493-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-BrandonGrotesque;
			font-style: normal;
			font-weight: 400;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/BrandonGrotesqueMedium/4c1a1189-5754-435e-8779-ba1f834afa2b-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-BrandonGrotesque;
			font-style: normal;
			font-weight: 700;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/BrandonGrotesqueBold/325d9bd1-d145-45b5-bf04-e36fc47fd3f4-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-BrandonGrotesque;
			font-style: italic;
			font-weight: 400;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/BrandonGrotesqueMediumItalic/9857723c-cf40-42cb-a07a-fe456274efe9-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-BrandonGrotesque;
			font-style: normal;
			font-weight: 900;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/BrandonGrotesqueBlack/ad3322cb-b7e6-4a24-897d-88d1cc4636c8-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-TitlingGothicFBCondensed;
			font-style: normal;
			font-weight: 400;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/SlateTitlingGothicFBStandardCond/d62066f5-a1ee-47f7-8b06-10dc1cea5b5b-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-TitlingGothicFBCondensed;
			font-style: italic;
			font-weight: 400;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/SlateTitlingGothicFBStandardCondItalic/524b1fae-2e32-45cd-ab39-dd957940a558-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-TitlingGothicFBCondensed;
			font-style: normal;
			font-weight: 700;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/SlateTitlingGothicFBMediumCond/388775a7-43ad-4da2-863a-1e3e1b1cec09-3.woff) format("woff");
		}

		@@font-face {
			font-family: sl-TitlingGothicFBCondensed;
			font-style: italic;
			font-weight: 700;
			src: url(https://slate-static-dev.s3.amazonaws.com/etc/designs/slate/fonts/SlateTitlingGothicFBMediumCondItalic/c49531dc-f166-4825-9c97-9d6205b1203d-3.woff) format("woff");
		}

		html {
			box-sizing: border-box;
		}

		*, :after, :before {
			box-sizing: inherit;
		}

		a {
			color: #603;
			font-weight: 700;
			text-decoration: none;
		}

		h1, h2, h3, h4 {
			line-height: 1;
			margin: 20px 0;
		}

		h1 {
			font-family: sl-TitlingGothicFBCondensed,Helvetica,sans-serif;
			font-size: 36px;
			letter-spacing: 0;
		}

		h2 {
			font-family: sl-BrandonGrotesque,Helvetica,sans-serif;
			font-size: 24px;
			font-weight: 400;
		}

		h4 {
			font-family: sl-TitlingGothicFBCondensed,Helvetica,sans-serif;
		}

		body {
			font-family: sl-Apres,Helvetica,sans-serif;
			color: #281b21;
			font-size: 19px;
			font-weight: 100;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			line-height: 1.5;
			text-rendering: optimizeLegibility;
		}

		.article {
			background: #fff;
			margin-top: 40vh;
			padding-bottom: 6.77966%;
			position: relative;
			z-index: 4;
		}

		@@media (min-width:64.0625em) {
			.article {
				margin-top: 70vh;
			}
		}

		.article.podcast {
			margin-top: 34vh;
		}

		.article__header {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			z-index: 3;
		}

			.article__header:after, .article__header:before {
				content: " ";
				display: table;
			}

			.article__header:after {
				clear: both;
			}

		.podcast .component.ad:after {
			border: 0;
			padding-bottom: 0;
		}

		.podcast .text p:not(:last-of-type) {
			margin-bottom: 1em;
		}

		.podcast .ad__label {
			display: none;
		}

		.podcast .section-title {
			background-color: #e5e5e5;
			line-height: 2em;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
		}

		.podcast .sponsor-logo {
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			height: 70px;
			width: 200px;
		}

		.podcast .promo-image amp-img {
			margin-left: -15vw;
			width: 130vw;
		}

		.sponsored-by {
			font-size: 16px;
		}

		.crimson-section {
			background-color: #603;
			color: #fff;
			margin-bottom: 20px;
			padding: 20px 0;
		}

			.crimson-section .section-title {
				background: none;
			}

		.person {
			background: -webkit-repeating-linear-gradient(125deg,#fff,#fff 1px,#e5e5e5 0,#e5e5e5 3px);
			background: repeating-linear-gradient(-35deg,#fff,#fff 1px,#e5e5e5 0,#e5e5e5 3px);
			padding: 15px 10px;
			text-align: center;
		}

		.person__host {
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.person__name {
			color: #603;
			font-size: 28px;
			margin: 0 0 10px;
		}

		.wrapper {
			margin-left: auto;
			margin-right: auto;
			max-width: 82vw;
		}

		.nav__podcast {
			border-bottom: 1px solid #e5e5e5;
			border-top: 1px solid #603;
		}

			.nav__podcast ul {
				padding-left: 0;
				list-style: none;
				text-align: center;
			}

			.nav__podcast li {
				display: inline-block;
				padding: 0 15px;
			}

		.byline {
			font-size: 16px;
			font-style: italic;
		}

		.byline__date {
			display: block;
		}

		.byline__link {
			font-weight: 100;
		}

		.nav {
			background: #603;
			border-bottom: 2px solid #281b21;
			box-shadow: 0 1px 4px rgba(40,27,33,.6);
			height: 54px;
			padding: 8px .84746%;
			position: fixed;
			top: 1px;
			-webkit-transform: translateY(-1px);
			transform: translateY(-1px);
			width: 100%;
			z-index: 2;
		}

		.logo {
			fill: #fff;
		}

		.logo__link {
			display: block;
		}

		.logo__link, .promo-image {
			height: 100%;
			text-align: center;
		}

		.promo-image {
			left: 0;
			position: fixed;
			top: 50px;
			width: 100%;
			z-index: 1;
		}

		.facebook-icon__header {
			color: #fff;
			fill: #36609f;
		}

		.twitter-icon__header {
			color: #fff;
			fill: #2caae1;
		}

		.envelope-icon__header {
			color: #fff;
			fill: #603;
		}

		.facebook-icon__footer, .instagram-icon__footer, .twitter-icon__footer {
			color: #f0ff00;
			fill: #281b21;
			stroke: #f0ff00;
		}

		svg circle {
			color: inherit;
			fill: inherit;
			stroke: inherit;
		}

		.social, .social__link {
			height: 32px;
		}

		.social {
			margin: 6.77966% 0;
			text-align: center;
		}

			.social:empty {
				display: none;
			}

		.social__link {
			display: inline-block;
			margin: 0 15px;
		}

		.stories__title__container {
			background: #281b21;
			color: #fff;
			margin-bottom: 20px;
			margin-top: 20px;
			text-transform: uppercase;
		}

		.stories__title {
			font-family: sl-BrandonGrotesque,Helvetica,sans-serif;
			max-width: 82vw;
			margin: 0 auto;
			font-size: 18px;
			font-weight: 900;
			padding: 15px 0 10px;
		}

			.stories__title:after, .stories__title:before {
				content: " ";
				display: table;
			}

			.stories__title:after {
				clear: both;
			}

		.stories {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
		}

			.stories:after, .stories:before {
				content: " ";
				display: table;
			}

			.stories:after {
				clear: both;
			}

		.stories--promoted {
			max-width: 92vw;
		}

		.story {
			clear: both;
			width: 100%;
			float: left;
			margin-left: 0;
			margin-right: 0;
			border: 1px solid #e5e5e5;
			min-height: 100px;
			position: relative;
		}

			.story:after, .story:before {
				content: " ";
				display: table;
			}

			.story:after {
				clear: both;
			}

		@@media (min-width:41.75em) {
			.story {
				min-height: 175px;
			}
		}

		.story:not(:last-of-type) {
			margin-bottom: 3.38983%;
		}

		.story__link {
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 3;
		}

		.story__img, .story__title {
			width: 32.20339%;
			float: left;
			margin-right: 1.69492%;
		}

		.story__title {
			width: 66.10169%;
			float: right;
			margin-right: 0;
			font-size: 17px;
			margin: 0;
			padding: 3.38983%;
		}

		.story__img {
			height: 100%;
			position: absolute;
		}

			.story__img img {
				-o-object-fit: cover;
				object-fit: cover;
			}

		.rubric {
			font-family: sl-BrandonGrotesque;
			font-size: 16px;
			line-height: 1;
			padding-top: 10px;
			text-transform: uppercase;
		}

		.rubric__link {
			font-weight: 400;
		}

		.footer {
			font-family: sl-BrandonGrotesque,Helvetica,sans-serif;
			color: #fff;
			font-weight: 700;
			position: relative;
			text-transform: uppercase;
			z-index: 3;
		}

		.footer__container {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
			padding: 3.38983% 0;
		}

			.footer__container:after, .footer__container:before {
				content: " ";
				display: table;
			}

			.footer__container:after {
				clear: both;
			}

		.footer__top {
			background: #281b21;
		}

		.footer__bottom {
			background: #121212;
		}

		.footer__link--bottom {
			color: #fff;
			font-size: 12px;
			font-weight: 400;
		}

		.footer__item {
			list-style-type: none;
		}

		.footer__item--inline {
			float: left;
		}

			.footer__item--inline:not(:first-of-type) {
				padding-left: 1.69492%;
			}

		.footer__row:after, .footer__row:before {
			content: " ";
			display: table;
		}

		.footer__row:after {
			clear: both;
		}

		.footer__row--half {
			width: 49.15254%;
			float: left;
			margin-right: 1.69492%;
		}

			.footer__row--half:last-of-type {
				float: right;
				margin-right: 0;
			}

		.footer__row--top {
			font-size: 15px;
		}

			.footer__row--top:last-of-type {
				width: 74.57627%;
				float: right;
				margin-right: 0;
			}

			.footer__row--top:not(:first-of-type):not(:last-of-type) {
				padding: 2.54237% 0;
			}

		.footer__link--top {
			color: #f0ff00;
			font-weight: 400;
		}

		.footer__item--social:not(:first-of-type) {
			padding-left: 6.77966%;
		}

		.footer__link--social {
			display: block;
			height: 28px;
			width: 28px;
		}

		.footer__title {
			width: 23.72881%;
			float: left;
			margin-right: 1.69492%;
		}

		.footer__list--w-title {
			width: 74.57627%;
			float: right;
			margin-right: 0;
		}

		.footer__list {
			margin: 0;
			padding: 0;
		}

			.footer__list:after, .footer__list:before {
				content: " ";
				display: table;
			}

			.footer__list:after {
				clear: both;
			}

		.footer__row--bottom {
			font-size: 12px;
		}

			.footer__row--bottom:not(:last-of-type) {
				margin-bottom: 1.69492%;
			}

		.footer__copy {
			font-size: 10px;
			margin: 0;
			text-align: center;
			text-transform: none;
		}

		.footer__item--bottom {
			margin-bottom: 1.69492%;
		}

		@@media (min-width:41.75em) {
			.footer__list--info {
				width: 32.20339%;
				float: left;
				margin-right: 1.69492%;
			}

				.footer__list--info:nth-of-type(3n) {
					float: right;
					margin-right: 0;
				}

				.footer__list--info:nth-of-type(3n+1) {
					clear: both;
				}
		}

		.ad {
			text-align: center;
		}

		.ad__label {
			display: block;
			margin-bottom: 1.69492%;
		}

		.component:not(:last-of-type) {
			margin-bottom: 6.77966%;
		}

		.component:first-of-type:before {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
			border-top: 1px solid #e5e5e5;
			content: "";
			display: block;
			padding-top: 6.77966%;
		}

			.component:first-of-type:before:after, .component:first-of-type:before:before {
				content: " ";
				display: table;
			}

			.component:first-of-type:before:after {
				clear: both;
			}

		.component:last-of-type:after {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
			border-bottom: 1px solid #e5e5e5;
			content: "";
			display: block;
			padding-bottom: 6.77966%;
		}

			.component:last-of-type:after:after, .component:last-of-type:after:before {
				content: " ";
				display: table;
			}

			.component:last-of-type:after:after {
				clear: both;
			}

		.component:only-child:after {
			border: 0;
		}

		.text {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
		}

			.text:after, .text:before {
				content: " ";
				display: table;
			}

			.text:after {
				clear: both;
			}

			.text p {
				margin: 0;
			}

		blockquote {
			border-left: 2px solid #603;
			font-size: 14px;
			margin: 0;
			padding: 0 1em;
		}

		figure {
			margin: 0;
			padding: 0;
		}

		figcaption {
			max-width: 82vw;
			margin-left: auto;
			margin-right: auto;
			font-size: 15px;
		}

			figcaption:after, figcaption:before {
				content: " ";
				display: table;
			}

			figcaption:after {
				clear: both;
			}

		.svg-defs {
			display: none;
		}

		.notch {
			border-bottom: 30px solid #fff;
			border-left: 30px solid transparent;
			height: 0;
			left: 0;
			position: absolute;
			text-align: right;
			top: -30px;
			width: 100%;
		}

		.notch__credit {
			font-size: 10px;
			line-height: 1.25;
			position: absolute;
			right: 5px;
			top: 5px;
		}
	</style>
	<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>
<body>
	<svg class="svg-defs">
		<defs>
			<g id="logo">
				<path id="e" d="M712.6,250.2c-31.7,0-55.8-23.1-55.8-60.3H800c0-25-3.2-55.7-21.4-78.9c-18.5-22.8-42-33.9-72-33.9
            c-57.7,0-98,43.3-98,105.5c0,50.2,35.2,107.1,103.8,107.1l0,0c60.8,0,83.7-48.5,85.2-69.6h-43.8
            C754.1,219.9,750.9,250.2,712.6,250.2z M707.6,116.2c42.3,0,44.9,36.2,44.9,38.6h-93.7C659.1,151.5,667.1,116.2,707.6,116.2z" />
				<path id="t" d="M569.1,84.3V22.5l-44.5,42.9c0,0.1,0,18.9,0,18.9s-25.5,0-30.1,0v31.9h30.1V243
            c0,37.9,31.7,46.6,57.4,46.6h15.6V247c-17.9-0.6-28.4-4.9-28.4-17.2V116.2h44.1V84.3H569.1z" />
				<path id="a" d="M484.3,235v-93.1c0-29.1-7.9-64.7-84.2-64.7c-14.8,0-42.2,1.9-60.1,14.4
            c-22.4,15.4-25.1,36.9-26.1,49.2h43.6c1.9-11.8,5.9-27.7,41.2-27.7c39.2,0,39.2,22,39.2,33.9v1.9c0,0-6.2,4.9-45.3,11.8
            c-40.5,7-67.3,10.6-80.8,38.7c-3.6,8-5.5,17.7-5.5,28.4c0,30.4,18.2,62.4,69.7,62.4c43.9,0,62.6-25.7,62.6-25.7l1.3,9.2
            c0,0,1.1,7.3,1.6,10.2h50.4C485.7,265.1,484.7,253.9,484.3,235z M437.6,188.4c0,27.8,0,37.2-12.9,48.8
            c-9.6,8.3-22.8,13.1-36.5,13.1c-24.7,0-33.3-13.5-33.3-25.1c0-25.4,33.2-28.4,43.1-30.4c21.4-4.4,35.7-8.9,35.7-8.9l3.9-1
            L437.6,188.4L437.6,188.4z" />
				<rect id="l" x="245.5" y="22.5" width="44.8" height="261.3" />
				<path id="S" d="M118.3,38.8c39.8,1.1,62.1,25.8,71.9,39.5l33.3-30.4C218,40.7,184.8,2,118.9,0.1
            C50-1.9,12.7,40.4,11.6,83.2c-0.6,19.9,7.7,38.9,22.8,52.2c16.2,14.1,37.2,19.7,57.7,25.1c0,0,39,9.2,39.2,9.2
            c18.7,4.3,49.9,11.5,49.1,39.3c-0.6,20.8-21.1,41-65.7,39.9c-49.7-1.4-69-28.4-77.9-43.5c-8.2,7.7-25.4,24.1-36.3,34.7
            C11,253.5,30.1,272,62.9,282.4c13.3,4.2,29,7,47.4,7.6c60.1,1.7,118.5-21.8,119.1-88c0.1-20.8-6-38.2-19.8-52
            c-6.5-6.3-13.6-10.9-21.1-14.5c-1.9-1-3.9-1.9-5.7-2.6c-7.3-3-14.9-5.3-22.4-7c-4-1-8-1.9-11.9-2.7c-0.1,0-37.9-8.3-38.9-8.5
            c-20.1-4.9-50.7-12.1-49.9-38.5C60.4,59.9,78.9,37.7,118.3,38.8z" />
			</g>
			<g id="twitter">
				<circle class="twitter__background background" fill="#281b21" stroke="#f0ff00" stroke-width="2" cx="16" cy="16" r="16" />
				<path class="twitter__bird" fill="currentColor" stroke-width="0" d="M22.3,12.7c0,0.1,0,0.3,0,0.4c0,4.3-3.3,9.3-9.3,9.3c-1.9,0-3.6-0.5-5-1.5c0.3,0,0.5,0,0.8,0
            c1.5,0,3-0.5,4.1-1.4c-1.4,0-2.6-1-3.1-2.3c0.2,0,0.4,0.1,0.6,0.1c0.3,0,0.6,0,0.9-0.1c-1.5-0.3-2.6-1.6-2.6-3.2l0,0
            c0.4,0.2,0.9,0.4,1.5,0.4c-0.9-0.6-1.5-1.6-1.5-2.7c0-0.6,0.2-1.2,0.4-1.7c1.6,2,4,3.3,6.8,3.4c-0.1-0.2-0.1-0.5-0.1-0.7
            c0-1.8,1.5-3.3,3.3-3.3c0.9,0,1.8,0.4,2.4,1c0.7-0.1,1.5-0.4,2.1-0.8c-0.2,0.8-0.8,1.4-1.4,1.8c0.7-0.1,1.3-0.3,1.9-0.5
            C23.5,11.7,23,12.2,22.3,12.7z" />
			</g>
			<g id="facebook">
				<circle class="facebook__background background" fill="#281b21" stroke="#f0ff00" stroke-width="2" cx="16" cy="16" r="16" />
				<path class="facebook__f" fill="currentColor" stroke="" stroke-width="0" d="M18.9,16h-2.2c0,3.6,0,8,0,8h-3.3c0,0,0-4.4,0-8h-1.6v-2.8h1.6v-1.8c0-1.3,0.6-3.4,3.4-3.4h2.5v2.7
            c0,0-1.5,0-1.8,0s-0.7,0.1-0.7,0.8v1.7h2.5L18.9,16z" />
			</g>
			<g id="instagram">
				<circle class="instagram__background background" fill="#281b21" stroke="#f0ff00" stroke-width="2" cx="16" cy="16" r="16" />
				<path fill="currentColor" stroke="" stroke-width="0" d="M21,14.9h-1.1c0.1,0.3,0.1,0.7,0.1,1c0,2.2-1.8,4-4,4c-2.2,0-4-1.8-4-4c0-0.3,0-0.7,0.1-1h-1.1
            v5.6c0,0.3,0.2,0.5,0.5,0.5h9.1c0.3,0,0.5-0.2,0.5-0.5V14.9z M21,11.3c0-0.3-0.2-0.5-0.5-0.5H19c-0.3,0-0.5,0.2-0.5,0.5v1.5
            c0,0.3,0.2,0.5,0.5,0.5h1.5c0.3,0,0.5-0.2,0.5-0.5V11.3z M16,13.4c-1.4,0-2.5,1.1-2.5,2.5c0,1.4,1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5
            C18.5,14.5,17.4,13.4,16,13.4 M21,22.5H10.9c-0.8,0-1.5-0.7-1.5-1.5V10.8c0-0.8,0.7-1.5,1.5-1.5H21c0.8,0,1.5,0.7,1.5,1.5v10.1
            C22.6,21.8,21.9,22.5,21,22.5" />
			</g>
			<g id="envelope"><circle class="envelope__background background" fill="#281b21" stroke="#f0ff00" stroke-width="2" cx="16" cy="16" r="16" /><path fill="currentColor" stroke="" stroke-width="0" d="M23.6,12.4v8.2H8.4v-8.2l7.6,6.6L23.6,12.4z M23,11.2H9l7,6L23,11.2z" /></g>
		</defs>
	</svg>
	<main>
		<div class="promo-image"><amp-img src="http://www.slate.com/content/dam/slate/articles/news_and_politics/jurisprudence/2016/10/161024_JURIS_scalia-trump.jpg.CROP.promo-xlarge2.jpg" layout="responsive" height="842" width="1180"></amp-img></div>

	<article class="article">
		<div class="notch"><span class="notch__credit">Photo illustration by <em><strong>AMPlify Sitefinity</strong></em>. Images by Alex Wong/Getty Images and Paul J. Richards/Getty Images.</span></div>
		@RenderBody()
	</article>	
	</main>
</body>
</html>